<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069149647366-5td7de57vr59uc0td25qi55ntq4le4tq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069149647366-5td7de57vr59uc0td25qi55ntq4le4tq</string>
	<key>API_KEY</key>
	<string>AIzaSyDUt-DbMYJgPwFtHQQfMcowYH5heqilafk</string>
	<key>GCM_SENDER_ID</key>
	<string>1069149647366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Shoppinglist</string>
	<key>PROJECT_ID</key>
	<string>shoppinglistswift-f68ae</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglistswift-f68ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069149647366:ios:3812e4faaeb0c3145ec987</string>
</dict>
</plist>